a {
  text-decoration: none;
}

.btn-link {
  text-decoration: none;
}

body {
  font-family: "Fira Sans", sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

.card {
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #fff;
}

.card img {
  max-height: 300px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  padding: 10px;
}

.card-text {
  font-size: 1.1rem;
  padding: 10px;
}

.list-group-item {
  font-size: 1rem;
  display: block;
}

.showing-details {
  margin-top: 10px;
}

.showing {
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px 0;
}

.showing-item {
  margin: 5px 0;
}

.screening-info {
  padding: 10px;
  font-style: italic;
  background-color: #f9f9f9;
}

.additional-info {
  font-style: italic;
}

/* Style for film links */
.film-links {
  margin-top: 10px;
}

.city-dropdown {
  display: none;
  /* Initially set to inline-block */
}

#city-link {
  display: inline-block;
}

#city-select {
  line-height: 1;
  vertical-align: middle;
  width: 200px;
  display: inline-block;
}
